<div ng-app="demo">
  <div ng-controller="ControllerCadastroBasico">

      <%= form_for @prospecto, :html => { :class => "form-horizontal prospecto" } do |f| %>
      <div class="container">
        <div ng-hide="esconderCadastroBasico"> 
          <div class="control-group">
            <div class="controls">
              <div class="col-xs-10"><%= f.text_field :nome, :class => 'form-control', :placeholder => "Nome" %></div>
              </div>
          </div></br></br>

          <div class="control-group">
            <div class="controls">
              <div class="col-xs-10"><%= f.text_field :empresa, :class => 'form-control', :placeholder => "Empresa" %></div>
            </div>
          </div></br></br>

          <div class="control-group">
            <div class="controls">
              <div class="col-xs-10"><%= f.text_field :email, :class => 'form-control', :placeholder => "Email" %></div>
            </div>
          </div></br></br>

          <div class="control-group">
            <div class="controls">
              <div class="col-xs-10"><%= f.text_field :telefone, :class => 'form-control', :placeholder => "Telefone" %></div>            
            </div>
          </div></br></br>

          <div class="control-group">
            <div class="controls">
              <div class="col-xs-6" style="padding-right:5px;"><%= f.text_field :cidade, :class => 'form-control', :placeholder => "Cidade" %></div>     

              <div class="col-xs-4" style="padding-left:5px;"><%= f.collection_select :estado_id, Estado.all, :id, :UF, {prompt: "UF"}, {class: "form-control"} %></div> 
            </div>
          </div></br></br></br>

          <p style="color:#a39d95">COMO CHEGOU ATÉ A NEO/SAGA?</p>

            <a style="background-color: #133783;" ng-click="selecionarIconesSocialFacebook = true" ng-show="!selecionarIconesSocialFacebook" class="btn btn-social-icon btn-facebook espacamentoPequenoIconesSociais">
              <i class="fa fa-facebook"></i>
              <p class="alinharDescricaoIconesSociais">Facebook</p>
            </a> 
            <a ng-click="selecionarIconesSocialFacebook = false" ng-show="selecionarIconesSocialFacebook" class="btn btn-social-icon btn-facebook espacamentoPequenoIconesSociais">
              <i class="fa fa-facebook"></i>
              <p class="alinharDescricaoIconesSociais">Facebook</p>
            </a>
            
            <a style="background-color: #133783;" ng-click="selecionarIconesSocialInstagram = true" ng-show="!selecionarIconesSocialInstagram" class="btn btn-social-icon btn-instagram espacamentoPequenoIconesSociais">
              <i class="fa fa-instagram"></i>
              <p class="alinharDescricaoIconesSociais">Instagram</p>
            </a> 
            <a ng-click="selecionarIconesSocialInstagram = false" ng-show="selecionarIconesSocialInstagram" class="btn btn-social-icon btn-instagram espacamentoPequenoIconesSociais">
              <i class="fa fa-instagram"></i>
              <p class="alinharDescricaoIconesSociais">Instagram</p>
            </a>

            <a style="background-color: #1791E3;"  ng-click="selecionarIconesSocialSkype = true" ng-show="!selecionarIconesSocialSkype" class="btn btn-social-icon btn-skype espacamentoGrandeIconesSociais">
              <i class="fa fa-skype"></i>
              <p class="alinharDescricaoIconesSociais">Skype</p>
            </a> 
            <a ng-click="selecionarIconesSocialSkype = false" ng-show="selecionarIconesSocialSkype" class="btn btn-social-icon btn-skype espacamentoGrandeIconesSociais">
              <i class="fa fa-skype"></i>
              <p class="alinharDescricaoIconesSociais">Skype</p>
            </a> 

            <a style="background-color: #751015;"  ng-click="selecionarIconesSocialYoutube = true" ng-show="!selecionarIconesSocialYoutube" class="btn btn-social-icon btn-youtube espacamentoMedioIconesSociais">
              <i class="fa fa-youtube"></i>
               <p class="alinharDescricaoIconesSociais">Youtube</p>
            </a> 
            <a ng-click="selecionarIconesSocialYoutube = false" ng-show="selecionarIconesSocialYoutube" class="btn btn-social-icon btn-youtube espacamentoMedioIconesSociais">
              <i class="fa fa-youtube"></i>
              <p class="alinharDescricaoIconesSociais">Youtube</p>
            </a> 

            <a style="background-color: #1791E3" ng-click="selecionarIconesSocialLinkedin = true" ng-show="!selecionarIconesSocialLinkedin" class="btn btn-social-icon btn-linkedin espacamentoMedioIconesSociais">
              <i class="fa fa-linkedin"></i>
              <p class="alinharDescricaoIconesSociais"> Linkedin</p>
            </a> 
            <a ng-click="selecionarIconesSocialLinkedin = false" ng-show="selecionarIconesSocialLinkedin" class="btn btn-social-icon btn-linkedin espacamentoMedioIconesSociais">
              <i class="fa fa-linkedin"></i>
              <p class="alinharDescricaoIconesSociais"> Linkedin</p>
            </a> 
            
            <%= f.submit "Salvar", :class => 'btn btn-primary botaoSalvar'  %>
        
          <span ng-if="!selecionarIconesSocialInstagram">
            <% valor = "Instagram" %>
            <%= f.text_field :social, :value => valor, :hidden => true %>
          </span>
          <span ng-if="!selecionarIconesSocialFacebook">
            <% valor = "Facebook" %>
            <%= f.text_field :social, :value => valor, :hidden => true %>
          </span>
          <span ng-if="!selecionarIconesSocialSkype">
            <% valor = "Skype" %>
            <%= f.text_field :social, :value => valor, :hidden => true %>
          </span>
          <span ng-if="!selecionarIconesSocialYoutube">
            <% valor = "Youtube" %>
            <%= f.text_field :social, :value => valor, :hidden => true %>
          </span>
          <span ng-if="!selecionarIconesSocialLinkedin">
            <% valor = "Linkedin" %>
            <%= f.text_field :social, :value => valor, :hidden => true %>
          </span>
          </br></br></br><hr> 
        </div>
      </div>
    <% end %>
  </div>
</div>